template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#myPage" h)
						| Logo
				#myNavbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a.nav-item(nav-name="about" class='{{helperName "about"}}' href='#')
								| About 
						li
							a.nav-item(nav-name="services" id = "services" class='{{helperName "services"}}' href='#')
								| Services
						li
							a.nav-item(nav-name="portfolio" class='{{helperName "portfolio"}}' href='#')
								| Portfolio
						li
							a.nav-item(nav-name="pricing" id="link" class='{{helperName "pricing"}}' href='#')
								| Pricing
						li
							a.nav-item(nav-name="contact" class='{{helperName "contact"}}' href='#')
								| Contact