template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#myPage" h)
						| Logo
				#myNavbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(class='{{helperName "about"}}' href='#about')
								| About 
						li
							a(id = "services" class='{{helperName "services"}}' href='#services')
								| Services
						li
							a(class='{{helperName "portfolio"}}' href='#portfolio')
								| Portfolio
						li
							a(id="link" class='{{helperName "pricing"}}' href='#pricing')
								| Pricing
						li
							a(class='{{helperName "contact"}}' href='#contact')
								| Contact