template(name='Portfolio')
	.portfolio
		#portfolio.container-fluid.text-center.bg-grey
			h2
				| Portfolio
			h4
				| What we have created
			.row.text-center.slideanim
				.col-sm-4
					.thumbnail
						img(src='#', alt='Paris', width='400', height='300')
						p
							strong
								| Paris
						p
							| Yes, We built paris
				.col-sm-4
					.thumbnail
						img(src='#', alt='New York', height='300')
						p
							strong
								| New York
						p
							| WE Built New York
				.col-sm-4
					.thumbnail
						img(src='#', alt='San Fran', width='400' height='300')
						p
							strong
								| San Fran
						p
							| Yes, san fran is ours
			br