template(name='Pricing')
	.pricing
		#pricing.container-fluid
			.text-center
				h2
					| Pricing
				h4
					| Chose a paymentplan that works for you
			.row.slideanim
				.col-sm-4.col-xs-12
					.panel.panel-default.text-center
						.panel-heading
							h1
								| Basic
						.panel-body
							p
								strong
									| 20
								| Lorem
							p
								strong
									| 15
								| Lorem
							p
								strong
									| 5
								| Lorem
							p
								strong
									| 2
								| Amet
							p
								strong
									| Endless
								| Amet
						.panel-footer
							h3
								| $19
							h4
								| Per Month
							button.btn.btn-lg
								| Sign Up
				.col-sm-4.col-xs-12
					.panel.panel-default.text-center
						.panel-heading
							h1
								| Pro
						.panel-body
							p
								strong
									| 100
								| Lorem
							p
								strong
									| 15
								| Lorem
							p
								strong
									| 5
								| Lorem
							p
								strong
									| 2
								| Amet
							p
								strong
									| Endless
								| Amet
						.panel-footer
							h3
								| $49
							h4
								| per month
							button.btn.btn-lg
								| Sign Up
				.col-sm-4.col-xs-12
					.panel.panel-default.text-center
						.panel-heading
							h1
								| Pro
						.panel-body
							p
								strong
									| 100
								| Lorem
							p
								strong
									| 15
								| Lorem
							p
								strong
									| 5
								| Lorem
							p
								strong
									| 2
								| Amet
							p
								strong
									| Endless
								| Amet
						.panel-footer
							h3
								| $49
							h4
								| per month
							button.btn.btn-lg
								| Sign Up