/*****************************************************************************/
/* About: Style */
/*****************************************************************************/
.about {


	  .logo {
      color: #f4511e;
      font-size: 200px;
      height: 200px;
  }
}
